.title {
    text-align: center;
    line-height: 70px;
    height: 70px;
    background-color: #4089d4;
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-shadow: black 2px 3px 5px;
}

.n-completed {
    padding: 15px 15px;
    width: 450px;
}

.completed {
    padding: 15px;
    width: 450px;
}

.selectTask {
    width: 450px;
}

.page {
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
}

.todo {
    color: #585858;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.btn.btn-primary.btn-sm {
    margin-left: 10px;
}

.btn.btn-primary.btn-sm.create-btn {
    margin-top: 15px;
    margin-left: 0px;
    background-color: #1bc30b;
    font-weight: 500;
    margin-bottom: 10px;
}

.done {
    color: #585858;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.list-group {
    max-width: 450px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #eaeeea;
}

.list-group-item.active {
    background-color: #c1cedb;
    color: black;
    border: 1px solid #a2aab3;
}

.btn {
    height: max-content;
    align-self: center;
}

.taskblock {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.createblock {
    margin-top: 60px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn.btn-primary.btn-sm.save-btn {
    margin-top: 15px;
    margin-left: 0px;
    background-color: #1bc30b;
    font-weight: 500;
    margin-bottom: 10px;
}

#taskInputForm {
    width: 100%;
}

.form-control {
    width: 150px;
}

.editTitle {
    color: #585858;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}