<div class="main-container">
  <div class="title">{{title}}</div>
  <div class="page">
    <!-- <app-n-completed></app-n-completed>
    <app-task></app-task>
    <app-completed></app-completed> -->
    <div class="n-completed">
      <div class="todo">To do</div>
      <ul class="list-group">
        <li *ngFor = "let item of tasks" class="list-group-item">
          {{item.title}}
          <button class="btn btn-primary btn-sm">Delete</button>
        </li>
      </ul>
    </div>
    <div class="selectTask">

    </div>
    <div class="completed">
      <div class="done">Done</div>
      <ul class="list-group">
        <li *ngFor = "let item of tasks" class="list-group-item">
          {{item.title}}
        </li>
      </ul>
    </div>
</div>
</div>